<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css"
  />
  <script
    src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>

  <title>TBP</title>
</head>
<body class="login-page dark-mode">
  <div class="login-box">
    <div class="card">
      <div class="card-body login-card-body">
        <form role="form" action="/addData" method="post">
          <table style="width: 100%;">
            <tbody>
              <% a.forEach(reward => { %>
                <tr>
                  <td><%- reward.title %></td>
                  <td>
                    <select name="<%- reward.id %>" class="select2-dark" style="width: 50%;">
                      <% keys.forEach(temp => { %>
                        <% if(temp[1] == Number(reward.keys[0])) { %> <option value="<%- temp[1] %>" selected><%- temp[0] %></option>  <%}%>
                        <option value="<%- temp[1] %>"><%- temp[0] %></option>
                      <% }) %>
                    </select>
                    <select name="<%- reward.id %>" class="select2-dark" style="width: 50%;">
                      <% keys.forEach(temp => { %>
                        <% if(temp[1] == Number(reward.keys[1])) { %> <option value="<%- temp[1] %>" selected><%- temp[0] %></option>  <%}%>
                        <option value="<%- temp[1] %>"><%- temp[0] %></option>
                      <% }) %>
                    </select>
                  </td>
                  <td style="text-align: right;">
                    <button
                      type="submit"
                      name="edit[<%- reward.id %>]"
                      style="background: none; color: green; border: none;"
                    >
                      <i class="fa-solid fa-pencil"></i>
                    </button>
                  </td>
                </tr>
              <% }) %>
              <% b.forEach(reward => { %>
                <tr>
                  <td><%- reward.title %></td>
                  <td>
                    <select name="<%- reward.id %>" class="select2-dark" style="width: 50%;">
                      <% keys.forEach(temp => { %> <option value="<%- temp[1] %>"><%- temp[0] %></option> <% }) %>
                    </select>
                    <select name="<%- reward.id %>" class="select2-dark" style="width: 50%;">
                      <% keys.forEach(temp => { %> <option value="<%- temp[1] %>"><%- temp[0] %></option> <% }) %>
                    </select>
                  </td>
                  <td style="text-align: right;">
                    <button
                      type="submit"
                      name="add[<%- reward.id %>]"
                      style="background: none; color: green; border: none;"
                    >
                      <i class="fa-solid fa-plus-circle"></i>
                    </button>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</body>
</html>